#pokemon {
    margin-bottom: 200px;
    margin-top: -25px;
}

#items {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#content {
    height: 40%;
    width: 95%;
    position: absolute;
    border-radius: 10px;
    border-color: #F37521;
    border-style:solid
}

.img-with-txt {
    text-align: center;
    width: 75px;
}

.img-with-txt img {
    display: block;
    margin: 0 auto;
}

.pokemonimg {
    width: 200px;
    height: 200px;
    float: right;
}

.moveimg {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 5px white solid;
}

.itemimg {
    width: 75px;
    height: 75px;
}

.headerText {
    font-size: xx-large;
    stroke: black;
    stroke-width: 5px;
    color: white;
}

.text {
    font-size: large;
    stroke: black;
    stroke-width: 3px;
    color: white;
}

#content-header {
    display: flex;
    font-size: x-large;
    color: white;
    margin-top: -23px;
}

#content-desc {
    position: absolute;
    font-size: large;
    color: white;
    margin-top: -23px;
}

#content-footer {    
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 0;
    font-size: large;
    color: white;
    width: 93%;
}

#content-header p+p {
    margin-left: 20px;
}

#panel_content-header {
    display: flex;
    font-size: larger;
    color: white;
    margin-top: -18px;
}

#panel_content-header p+p {
    margin-left: 10px;
}

#content-footer p+p {    
    margin-left: 10px;
}

#nobuildsfound {
    height: 50%;
    width: 95%;
    position: absolute;
    border-radius: 10px;
    border-color: #F37521;
    border-style:solid;
    color: white;
    font-size: larger;
}

#refreshNoBuildsFound
{ 
    margin-left:39px;
    font-size: 100%;
    width: 80%;
    height: 50px;
    font-size: 100%;
    margin-top: 40%;
    font-weight: bold;
}

#refresh {
    position: absolute;
    right: 0;
    height: 25px;
    width: 25px;
    padding-right: 5px;
    
}

.panel_headerText {
    font-size: large;
    stroke: black;
    stroke-width: 10px;
    color: white;
}

#panel_items {    
    display: flex;
    position: absolute;
}

#panel_content {
    height: 70%;
    width: 93%;
    margin-top: 75px;
    position: absolute;
    border-radius: 10px;
    border-color: #F37521;
    border-style:solid
}

.panel_itemimg {
    width: 70px;
    height: 70px;
}

 /* The sidebar menu */
 .sidebar {
    height: 90%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
  }
  
  .openbtn:hover {
    background-color: #F37521;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } 

  .sidebar_buttons {
      background: none;
      color: white;
      font-size: x-large;
      border: none;
  }

  .sidebar_buttons:hover {
    background-color: #F37521;
}

  ul {      
    list-style-type: none;
  }

